@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Open+Sans:wght@300&family=Roboto:wght@100;300&display=swap");

:root {
  --black-color: #545871;
  --grey-color: #a3a3a3;
  --white-color: #e4e4e4;
  --darkblack-color: #141414;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: var(--black-color);
  text-decoration: none;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

// utilities
.btn-dark {
  background-color: var(--darkblack-color);
  color: #e4e4e4;
  display: inline-block;
  text-align: center;
  padding: 1rem 2rem;
}
.btn-dark:hover {
  opacity: 0.9;
}

.btn-click {
  color: #545871;
  border-bottom: 2px #545871 solid;
}
.btn-click:hover {
  opacity: 0.6;
}

.btn-light {
  background-color: white;
  color: #141414;
  display: inline-block;
  text-align: center;
  padding: 3rem 3rem;
  border: 1px solid #212121;
}

.btn-light:hover {
  background-color: #141414;
  color: white;
}

// header style
.hero {
  height: 100vh;
  background: url(/img/Road.png);

  .logo {
    color: var(--darkblack-color);
    margin: auto;
    align-items: center;
    letter-spacing: 10px;
    font-weight: 500;
    .fas {
      transform: rotate(-10deg);
      opacity: 0.9;
    }
  }
  .navbar {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar a {
    padding: 10px 15px;
    font-size: 0.9rem;
    letter-spacing: 5px;
    font-weight: 900;
  }

  ul {
    display: flex;
    margin-right: 15rem;
    a:hover {
      opacity: 0.8;
    }
  }

  .content_container {
    // height: 90%;

    .content {
      color: var(--darkblack-color);
      width: 50%;
      height: 50%;
      margin: 6rem auto auto 18rem;

      h1 {
        font-size: 5rem;
        letter-spacing: 20px;
        font-size: 6rem;
        font-weight: 800;
      }

      p {
        width: 60%;
        padding: 2rem 0;
      }
    }
  }
}

.about_container {
  height: 100vh;
  background: url(/img/Trees.png) no-repeat center center/cover;

  .readmore {
    position: absolute;
    left: 20%;
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 150px;

    .man_img {
      width: 35%;
      height: 100%;
      border-right: 1px solid #a3a3a3;
    }
    .about_info {
      background: white;
      width: 65%;
      height: 100%;
      display: inline-block;
      text-align: center;
      align-items: center;
      justify-content: center;
      padding: 3rem;

      h2 {
        font-weight: 400;
        padding-top: 3rem;
      }
      p {
        color: #a3a3a3;
        padding-bottom: 1.5rem;
      }
    }
  }
}

.elements {
  color: #545871;
  height: 80vh;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin: auto;

  .element_styles {
    text-align: center;
    width: 20%;
    height: 80%;
    align-items: center;
    justify-content: center;
    margin: auto;
    // padding-top: 10rem;
    h2 {
      color: black;
      font-weight: 400;
      letter-spacing: 10px;
    }
    p {
      padding: 10px;
    }
  }

  #element_logo {
    font-size: 40px;
    color: #a3a3a3;
    border: 2px solid #fafafa;
    border-radius: 50%;
    background: #f5f5f5;
    padding: 30px;
    margin: 3.5rem 0;
  }
  .plane_logo {
    transform: rotate(-40deg);
  }
}

.places {
  width: 100%;
  height: 100vh;
  .place_images {
    display: grid;
    grid-template-areas: "place1 place2 place3";

    .place2 {
      height: 100%;
    }
    .place3 {
      height: 100%;
    }
  }

  .place_content {
    display: grid;
    grid-template-areas: "ras-al-kaimah dubai abudhabi";
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    // margin-left: 5px;
    .ras-al-kaimah {
      width: 80%;
      text-align: left;
      align-items: center;
      justify-content: center;
      margin-left: 10px;

      h2 {
        letter-spacing: 10px;
      }
      a {
        padding-bottom: 10px;
      }
    }
    .dubai {
      width: 80%;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-left: 60px;

      h2 {
        letter-spacing: 10px;
      }
      a {
        padding-bottom: 10px;
      }
    }
    .abudhabi {
      width: 80%;
      text-align: right;
      align-items: center;
      justify-content: center;
      margin-left: 80px;
      h2 {
        letter-spacing: 10px;
      }
      a {
        padding-bottom: 10px;
      }
    }
  }
  .place_styles {
    line-height: 1.5rem;
    padding: 4rem 2rem 0 4.5rem;

    p {
      color: #545871;
    }
  }
}

.hotel_section {
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  h1 {
    margin-left: 37rem;
    letter-spacing: 10px;
    margin-bottom: 50px;
  }

  .hotels {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    // margin-top: 100px;
  }

  .hotel1_img {
    height: 100%;
    clip-path: inset(0 0 11% 0);
  }

  .hotel2_img {
    height: 100%;
    clip-path: inset(0 0 11% 0);
  }

  .hotel3_img {
    height: 100%;
    clip-path: inset(0 0 11% 0);
  }
  .hotel_styles {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    border: 1px #f5f5f5 solid;

    h2 {
      padding: 10px;
      font-weight: 300;
      letter-spacing: 10px;
    }
    p {
      width: 80%;
      padding: 20px;
      color: #545871;
      line-height: 25px;
    }

    a {
      padding: 15px 30px;
      font-size: 0.9rem;
    }

    h3 {
      padding: 20px;
      font-size: 1.5rem;
    }
  }
}

.navigate {
  display: inline-block;
  width: 100%;
  height: 10vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 2rem 0;

  #left_arrow,
  #right_arrow {
    padding: 0 5rem;
  }
}

.footer {
  width: 100%;
  height: 20vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;

  .footer_links {
    a {
      padding: 0 10px;
    }
  }
  .footer_links a:hover {
    opacity: 0.6;
  }

  .footer_content {
    color: #545871;
    h1 {
      font-weight: 500;
    }
    font-weight: 500;
  }

  .footer_logos {
    a {
      font-size: 2rem;
      color: #a3a3a3;
      padding: 0 10px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .hero {
    .navbar {
      display: inline-block;
      width: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: auto;
      margin-top: 10px;
      .menu {
        margin-left: 40px;
      }
    }
    .content_container {
      .content {
        width: 100%;
        margin: auto;
        font-size: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: auto;
        h1 {
          font-size: 4rem;
          width: 100%;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin: auto;
        }
        p {
          width: 50%;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin: auto;
          font-size: 2rem;
        }
      }
    }
  }

  .about {
    .about_container {
      .readmore {
        .man_img {
          display: none;
        }
        .about_info {
          height: 90vh;
          width: 100%;
        }
      }
    }
  }
  .elements {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas:
      "pointer plane"
      "map";

    .element_styles {
      width: 50%;
      margin: auto;

      .fas {
        display: none;
        font-size: 10px;
      }
    }
  }

  .places,
  .place_content {
    display: none;
  }

  .hotel_section {
    width: 100%;
    height: 100%;
    h1 {
      width: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: auto;
      padding-bottom: 15px;
    }

    .hotels {
      display: flex;
      flex-direction: column;
    }
    .hotel_styles {
      padding-bottom: 20px;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer_links,
  .footer_content,
  .footer_logos {
    padding: 5px 0;
  }
}
